@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Jockey+One&display=swap');

* {
    font-family: 'Jockey One', sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('./imagens/background.png');
    background-size: cover;
}

#navBar {
    background-color: rgba(255, 240, 191, 1);
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
    height: 120px;
}

#navBar img {
    width: 100px;
    margin: 10px 20px;
}

#navBar .div1 {
    display: flex;
    flex: 1;
    justify-content: center;
}

#navBar .div1 ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#navBar .div1 li {
    color: rgba(74, 46, 44, 1);
    font-size: 23px;
    margin: 0 10px;
    cursor: pointer;
    margin: 0px 30px 0px 30px;
}

#navBar .div1 li:hover {
    color: red;
}

#navBar .div2{
    background-color: rgba(111, 81, 58, 1);
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navBar .div2 img{
    width: 80px;
    margin: 0px;
    margin-left: 10px;
}

#navBar .div2 p{
    color: rgba(255, 240, 191, 1);
    font-size: 20px;
}

#navBar .div3{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navBar .div3 button{
    transition: 0.5s;
    font-size: 20px;
    background-color: rgba(255, 240, 191, 1);
    border: solid 3px;
    border-radius: 50px;
    width: 80px;
}

#navBar .div3 button:hover{
    color: rgba(255, 240, 191, 1);
    transition: 0.5s;
    font-size: 20px;
    background-color: rgba(74, 46, 44, 1);
    border: solid 3px;
    border-radius: 50px;
    width: 80px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 83.75vh;
}

main .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main .texto h1{
    margin: 0px;
}

main .texto .de{
    display: flex;
    flex-direction: row;
}

main .texto .de img{
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

main .hand{
    margin: 0px;
    width: 33.3vw;
    display: flex;
    justify-content: end;
    align-items: end;
}

main .hand img{
    height: 83.1vh;
}

.cafes{
    width: 400px;
}

main .sample{
    height: 83.7vh;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./imagens/background2.png');
    background-size: cover;
    overflow-y: scroll;
}

main .sample .promocao img{
    margin: 10px 70px;
    width: 300px;
}

main .sample::-webkit-scrollbar {
    width: 30px;
  }
  
main .sample::-webkit-scrollbar-track {
    background: rgba(74, 46, 44, 1); 
  }
  
main .sample::-webkit-scrollbar-thumb {
    background: rgb(193, 150, 118);
    border-radius: 50px;
    
  }
  
main .sample::-webkit-scrollbar-thumb:hover {
    background: rgba(111, 81, 58, 1);
  }

